# Supabase Auth & Config
NEXT_PUBLIC_SUPABASE_URL=https://qjnpqyqerfkmwkgyofqn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqbnBxeXFlcmZrbXdrZ3lvZnFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyNzg5ODUsImV4cCI6MjEwNDg1NDk4NX0.Z52pY8lYhbdleMD6j1BW8cHHU7eJ_IOGAZscUoBFnoU

# FastAPI Backend URL
NEXT_PUBLIC_API_URL=http://localhost:8000
